<div class="container index-page">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4"><img class="my-photo" src="/theme/default/img/Iam.jpg" alt="my-foto"></div>
        <div class="col-lg-7 col-md-7 col-sm-7">
            <h2>Это Я! =)</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur sed itaque debitis quos incidunt, omnis neque alias perspiciatis inventore cupiditate quidem impedit hic. Recusandae vitae pariatur magnam ab explicabo dignissimos molestias commodi, eveniet. Magni maxime sint eos earum voluptate voluptatem minus ducimus quibusdam, nobis rem voluptas nam odio voluptates accusamus odit! Mollitia, explicabo soluta ex temporibus a dignissimos blanditiis quo quisquam quibusdam itaque animi vel dolores fugiat beatae at adipisci expedita saepe commodi deleniti. Quasi sapiente, assumenda cum deserunt consequuntur temporibus iusto, distinctio reiciendis aperiam quidem veniam repellat consectetur minima minus! Consequuntur odit, quam fugiat repellendus dolores libero, molestias maxime?</p>
        </div>
    </div>
</div>